<!--//js: closeFindPetOwnerModal//-->
<!--/*@thymesVar id="petOwner" type="com.github.petstoreclean.infrastructure.adapter.web.common.PetOwnerVmBean"*/-->
<input xmlns:th="http://www.thymeleaf.org" type="hidden" id="petOwnerId" name="petOwnerId" th:value="${petOwner.id}">
<input xmlns:th="http://www.thymeleaf.org" data-hx-swap-oob="true"
       type="text" class="form-control" id="ownerFullName" name="ownerFullName"
       th:value="${petOwner.name}" readonly>
<textarea xmlns:th="http://www.thymeleaf.org" data-hx-swap-oob="true"
          class="form-control form-control-sm" id="ownerAddress" name="ownerAddress"
          th:text="${petOwner.address}" th:value="${petOwner.address}" rows="3" readonly></textarea>